PORT=8000
MONGO_URI=mongodb+srv://your-mongo/code-room
JWT_SECRET_ACCESS=2bee0387f51464e9a887313f1568ae0cf3ad58e3
JWT_SECRET_REFRESH=313f1568ae0cf3ad58e32bee0387f51464e9a887
CLIENT_URL=http://localhost:5173
CLIENT_URL_PROD=http://localhost:5173
NODE_ENV=development

